section#about.text-center
			+article('ABOUT')
			.container.about
				+momment-right("2009-2011", "Our amble Beginigs", "photo1")
				+momment-left("March 2011", "An agency is born", "photo2")
				+momment-right("December 2012", "Transition to full service", "photo3")
				+momment-left("July 2014", "Phase two Expansion", "photo4")
				.row.clearfix
					.col-md-offset-5.col-md-2
						.img-moment
							p BE PART OF OUR STORY