section#contact.text-center
			+article('CONTACT US')
			.container
				row
					.col-md-6
						form
							+input("Your name")
							+input("Your name")
							+input("Your name")
					.col-md-6
						form
							+textarea
				button.btn Send Message