footer.text-center.margin-t-b
	.container
		.row
			.col-md-4.margin-t-b
				p Copyright Your Website 2014
			.col-md-4
				.social
					a
						i.fa.fa-twitter
					a
						i.fa.fa-facebook
					a
						i.fa.fa-linkedin
			.col-md-4.margin-t-b
				a Privacy Policy
				a Terms of Use