header#HeroImage
			.header-top-area
				nav.navbar(role="navigation")
					.navbar-header
						button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="#") Start Bootstrap
					#navbar-inverse.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.active: a(href="#") Home
							li: a(href="#Services") Services
							li: a(href="#Portfolio") Portfolio
							li: a(href="#About") About
							li: a(href="#Team") Team
							li: a(href="#contact") Contact
				.hero-text.text-center
					h3 Welcome to our Studio!
					h1 IT'S NICE TO MEET YOU
					button.btn TELL ME MORE