section#services.text-center
			+article('SERVICES')
			.container
				.row
					+list-service('comerce','E-Commerce')
					+list-service('responsive','Responsive Design')
					+list-service('web', 'Web Security')