section#team.text-center
			+article('OUR AWESOME TEAM')
			.container
				.row
					+teammember("member1", "Kay Garland")
					+teammember("member2", "Kay Garland")
					+teammember("member3", "Kay Garland")
				.description-team.text-center
					p  Ab esse, dolorem laborum error facilis provident unde impedit quia magnam, maxime molestias quod, alias natus.